.contact__text {
    color: var(--color-text-secondary);
    font-weight: 500;
    line-height: 26px; 
}

.btn {
    transition:all .3s;   
    font-weight: 500;
}

.btn:hover {
    transform: scale(1.1);
}

.card__link {
    color: var(--color-text-secondary);
    font-weight: 400;
}

.card__link:hover {
    color: var(--color-text-primary );
}
