.info__text {
    color: var(--color-text-secondary);
}

.info__img__caption {
    color: var(--color-text-secondary);
    font-weight: 500;
    padding: 8px;
}

.info__img__caption strong {
    color: var(--color-text-primary);
    font-weight: 600;
}

.quote {
    border: 1px solid var(--border-secondary);
    font-size: 2rem;
    font-weight: 500;
    line-height: normal;

    display: inline-flex;
    padding: 32px;
}