:root {
    --bg-color: #282C33;

    --color-text-primary: #FFF;
    --color-text-secondary: #ABB2BF;
    
    --highlight-span: #C778DD;
    --border-primary: #C778DD;
    --border-secondary: #ABB2BF;
}

/*Cor destaque*/
.highlight-purple {
    color: var(--highlight-span);
}