.card {
   color: var(--color-text-secondary);
}

.list-group-item {
    border: 1px solid white;
    background-color: var(--bg-color);
}

.card-body {
    background-color: var(--bg-color);
}

.card-title {
    color: var(--color-text-primary);
    font-size: 1.5rem;
}

.card-link {
    color: var(--color-text-primary);
    border: 1px solid var(--border-primary);
    font-weight: 500;
    padding: 8px;
}

.card-link:hover {
    color: var(--color-text-primary);
    background: rgba(199, 120, 221, 0.20);
}

.card-link--gray {
    color: var(--color-text-secondary);
    border: 1px solid var(--border-secondary)
}

.card-link--gray:hover {
    border: 1px solid var(--border-secondary);
    background: rgba(171, 178, 191, 0.20);
}

.btn {
    color: var(--color-text-primary);
    font-weight: 500;
}

.btn:hover {
    color: var(--border-secondary);
}
