body {
    background-color: var(--bg-color);
    font-family: "Fira Code", monospace;
}

/*Nav*/
.navbar {
    padding: 1rem 0 0 0;  
}

.navbar-brand {
    font-weight: 500;
}

/*Apresentação home*/
.span-text-gray {
    color: var(--color-text-secondary);
}

figcaption {
    color: var(--color-text-secondary);
    font-weight: 500;
    padding: 8px;
}

figcaption span{
    color: var(--color-text-primary);
    font-weight: 600;
}

/*Lista de projetos*/
.card-body {
    background-color: var(--bg-color);
}

.list-group-item {
    border: 1px solid white;
    background-color: var(--bg-color);
}

.card {
   color: var(--color-text-secondary);
}

.card-title {
    color: var(--color-text-primary);
    font-size: 1.5rem;
}

.card-link {
    color: var(--color-text-primary);
    border: 1px solid var(--border-primary);
    font-weight: 500;
    padding: 8px;
}

.card-link:hover {
    color: var(--color-text-primary);
    background: rgba(199, 120, 221, 0.20);
}

.card-link-gray {
    color: var(--color-text-secondary);
    border: 1px solid var(--border-secondary)
}

.card-link-gray:hover {
    border: 1px solid var(--border-secondary);
    background: rgba(171, 178, 191, 0.20);
}

.btn {
    color: var(--color-text-primary);
    font-weight: 500;
}

.btn:hover {
    color: var(--border-secondary);
}

/*Skills*/
.card-header {
    color: var(--color-text-primary);
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--color-text-primary);
}

/*Sobre mim*/
.lh-base {
    line-height: 26px;
}