.contact__title {
    color: var(--color-text-primary);
}

.contact__text {
    color: var(--color-text-secondary);
    font-weight: 500;
    line-height: 26px; 
}

.card__title {
    color: var(--color-text-primary);
    font-size: 1rem;
    font-weight: 600;
}

.card__link {
    color: var(--color-text-secondary);
    font-size: 1rem;
    font-weight: 400;
}

.card__link:hover {
    color: var(--color-text-primary );
}
