.text-gray {
    color: var(--color-text-secondary);
}

.card  {
    border: 1px solid var(--color-text-primary);
    background-color: var(--bg-color);
    color: var(--color-text-secondary);
}

.card-header {
    color: var(--color-text-primary);
    border-bottom: 1px solid var(--color-text-primary);
    font-size: 1rem;
    font-weight: 600;
}

.contact__text {
    color: var(--color-text-secondary);
    font-weight: 500;
    line-height: 26px; 
}

.btn {
    color: var(--color-text-secondary);   
    font-weight: 500;
}

.btn--hover:hover {
    color: var(--color-text-primary);
}
